.landing-page {
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: white;
  opacity: 1; /* Start with 0 opacity for fade-in */
  transition: opacity 1s ease-in-out; /* Fade-in transition */
}

.landing-page.fade-in {
  opacity: 1; /* Fade in to full opacity */
}

.landing-header {
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.landing-header h1 {
  font-weight: 500; /* Bold */
}
