.result-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Jetbrains Mono NL;
}

.result-container h1 {
  text-align: center;
  margin-bottom: px;
  color: #333;
  font-size: 55px;
}

.result-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #6b6767;
  font-size: 20px;
}

.results p{
  color:#000;
  font-size: 18px;
}

.result-section {
  margin-bottom: 20px;
}

.result-section h2 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 10px;
}

.result-section p {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  margin-top: 20px;
  width: 100%;
}

.button-container .back-button,
.button-container .try-again-button {
  padding: 10px 20px; /* Add padding for better spacing */
  font-size: 1rem;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container .back-button:hover,
.button-container .try-again-button:hover {
  background-color: #454444;
}