.result-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.result-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.results {
  margin-bottom: 20px;
  color:#000
}

.result-section {
  margin-bottom: 20px;
}

.result-section h2 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 10px;
}

.result-section p {
  font-size: 1.1rem;
  color: #333;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container .back-button,
.button-container .try-again-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container .back-button:hover,
.button-container .try-again-button:hover {
  background-color: #000000;
}